*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}   
body{
    background-color: #FFFEFD;
    font-family: 'Poppins', sans-serif;
}
a{
    /* font-size: ; */
    color: black;
    text-decoration: none;
}
[class *="col-"]{
    float: left;
    padding: 10px;
}
/* for Mobile  */
[class *= "col-"]{
    width: 100%;
}




/* navbar design start here  */
.header{
    background-color: #fffeff;
    width:100%;
    height: 1080px;
    background-image: url('images/accaro.svg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navbar{
    padding: 1% 5%;
    text-align: center;
}
.navMenu{
    display: flex;
    flex-direction: column;
    
}
.navMenu a{
    border-radius: 10px;
    margin: 7px 0px;
    padding: 5px;
}
.navbar a:hover{
    color:#FD5956;
    background-color: gray;
}
.navButton button{
    background-color: black;
    color: #FFFEFD;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
}
.navbar ::after{
    clear: both;
    display: table;
    content: '';
}
/* navbar design end here  */

/* header design start here  */
.headerDetails{
    padding: 1% 5%;
    position: static;
}

.headerDetails h3{
    color: #FD5956;
    font-family: poppins;
    font-weight: bolder;
}
.headerDetails h1{
    font-size:3rem;
}
.designer{
    padding-left: 2.5rem;
}
.socialMedia{

    text-align: center;
    
}
.socialMedia button{
    border: none;
    font-size: 2.5rem;
    background-color: #FFFEFD;
}
.cvButton{
    margin: auto;
    text-align: center;

}
.cvButton button{
    background-color: #FD5956;
    border: none;
    padding: 5px 10px;
}

.headerImage{
    
    background-image: url('images/imageBg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

}

.ops{
    background: rgba(255, 255, 255, 0.9);
    width: 100px;
    height: 100px;
    position:absolute;
    top: 589px;
    height: 250px;
    width: 100%;
    opacity: 1;
    -webkit-filter: blur(20px);
    
}
/* header design end here  */


/* about me section start here  */
.sec-2{
    background-image: url('images/aboutMeAbstractBackground.svg'),url('images/aboutMeRope.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:50% 50%,50% 50%;
    width: 100%;
    height: 1720px;
    padding-top: 2rem;
    
}
.aboutMeSection{
    /* background-color: #FD5956; */
    text-align: center;  
}
.aboutMeSection span{
    color: #FD5956;
    font-size: 2.5rem;
}
.aboutMeSection p{
    padding: 0% 10%;
}
.aboutMeSection img{
    padding-top: 150px;
}
.sec-2-div-1{
    display: none;
    
}
.sec-2-div-1 span{
    color: #FD5956;
    font-size: 2.5rem;
    line-height: 0%;
   
}
.sec-2-div-3{
    display: none;
}
.sec-2-div-3 span{
    color: #FD5956;
    font-size: 15rem;

}

/* about me section end here  */